@import '../../commonStyles/commonStyles.scss';

.tag {
  background-color: #fff;
  padding: 5px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  &__name {
    font-size: 18px;
    line-height: 19px;
    text-align: left;
    font-weight: 500;
    font-family: 'Lato';
    color: rgb(108, 111, 112);
    &_del {
      padding-left: 5px;
    }
  }
  &__button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    &_green {
      background-color: $greenaccent;
    }
    &_red {
      background-color: $redaccent;
    }
    &_yellow {
      background-color: rgb(255, 196, 0);
    }
  }
  &__input {
    font-size: 18px;
    line-height: 19px;
    text-align: left;
    font-weight: 500;
    font-family: 'Lato';
    color: #000;
    width: 78%;
    padding-left: 5px;
  }
}
