@import '../../commonStyles/commonStyles.scss';

.tag {
  background-color: #fff;
  padding: 5px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
  &__name {
    cursor: pointer;
  }
}
