@import '../../commonStyles/commonStyles.scss';

.root {
  min-height: 100vh;
  display: flex;
}

.page {
  width: 100%;
  min-height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  &__preloader-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 800px) {
    padding: 0 30px;
  }
  @media (max-width: 600px) {
    padding: 0 15px;
  }
}
