@import '../../commonStyles/commonStyles.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__author-name {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
  }

  &__container {
    margin-top: 30px;
    display: flex;
    gap: 60px;
  }

  &__photo {
    max-width: 500px;
    width: 100%;
    object-fit: cover;
  }

  &__wrapper {
    max-width: 600px;
  }

  &__title {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
  }

  &__description {
    margin-bottom: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__subtitle {
    margin-bottom: 6px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }

  &__clients-descriptiob {
    margin-bottom: 24px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__contacts-list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__contacts-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }

  &__company {
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5a5555;
  }

  &__contacts-email-adress {
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__contacts-telephone-number {
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 32px;
    margin: 0 0 6px 0;
  }
  &__redact-button {
    background-image: url(../../img/icons8-pen-squared-32.png);
    width: 32px;
    height: 32px;
    @include clickable;
  }
  &__textarea {
    width: 100%;
    height: 300px;
    max-height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 6px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 6px 0;
  }
  &__form-button {
    width: 50%;
    padding: 0.25rem;
    font-size: 16px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: transparent;
    border-radius: 4px;
    @include clickable;
    &_cancel {
      background-color: $redaccent;
    }
    &_save {
      background-color: $greenaccent;
    }
  }
  @media screen and (max-width: 1024px) {
    gap: 60px;
    &__author-name {
      text-align: center;
    }
    &__container {
      gap: 20px;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.social-network {
  display: flex;
  gap: 12px;

  &__icon {
    max-width: 42px;
    max-height: 42px;
  }
}
