@import '../../commonStyles/commonStyles.scss';

.section-item {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid black;
  display: flex;
  // max-height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.section-item__input {
  margin: 0;
  padding: 0;
  width: auto;
  border: 1px solid $blueaccent;
  width: unset;
  max-width: unset;
  min-width: unset;
  max-width: unset;
}
.section-item__text {
}
.section-item__remove-button {
  border: none;
  background-color: transparent;
  size: 20px;
}
.section-item__remove-button-icon {
  width: 20px;
  height: 20px;
}
