@import '../../commonStyles/commonStyles.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 70px;
  &__headen-element {
    display: flex;
  }
  &__logo {
    @include clickable;
    height: 44px;
    width: 44px;
  }

  &__button {
    background-image: url(../../img/burgerButton.svg);
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
    padding: 0;
  }
  &__logout-button {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: $redaccent;
    padding: 8px;
    border-radius: 4px;

    @include clickable;
  }
  @media screen and (max-width: 1024px) {
    &__headen-element {
      display: none;
    }
    &__button {
      display: flex;
      &_opened {
        background-image: url(../../img/burgerCloseButton.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 44px;
        width: 44px;
        height: 44px;
        z-index: 15;
        // position: fixed;
        // top: 10px;
        // right: 12px;
      }
    }
  }
}
