@import '../../commonStyles/commonStyles.scss';

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__hidden-element {
    display: none;
  }
  &__content {
    position: sticky;
    top: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  &__main-section {
    @include clickable;
    width: 100%;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    font-family: 'Lato';
    // color: #3f3f3f;
    color: rgb(108, 111, 112);
    display: flex;
    align-items: center;
  }
  &__main-section.active {
    text-decoration: underline;
    color: rgb(52, 194, 199);
  }
  &__section {
    @include clickable;
    margin: 10px 0 0 15px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    font-family: 'Lato';
    .active {
      text-decoration: underline;
      color: rgb(52, 194, 199);
    }
    // color: #3f3f3f;
    color: rgb(108, 111, 112);
  }
  &__section.active {
    text-decoration: underline;
    color: rgb(52, 194, 199);
  }
  &__section_state_hidden {
    display: none;
  }
  &__account-wrapper {
    @include clickable;
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 7px;
  }
  &__account-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #222222;
  }
  &__account-logo {
    background-image: url(../../img/account.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    padding: 6px;
    border-radius: 50%;
    background-color: #f5f5f5;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    align-items: flex-end;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    display: none;
    top: 0px;
    right: 0px;
    &__hidden-element {
      display: flex;
    }
    &_opened {
      opacity: 1;
      visibility: visible;
      display: flex;
    }
    &__content {
      // background-color: lightgray;
      background-color: #fff;
      height: 100vh;
      width: 250px;
      flex-direction: column;
      padding: 5vh;
    }
  }
  @media screen and (max-width: 600px) {
    &__content {
      width: 200px;
      padding: 0 10px;
    }
  }
  @media screen and (max-width: 400px) {
    width: 100%;
    &__content {
      width: 200px;
    }
  }
}

.navbar__expand-icon {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  &_rotated {
    transform: rotate(180deg);
  }
}
