@import '../../commonStyles/commonStyles.scss';

.photos {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  gap: 10px;

  &__wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    &:last-child {
      flex-grow: 10;
    }
  }
}
