@import '../../commonStyles/commonStyles.scss';

.photos {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__preloader-wrapper {
    width: 100%;
  }
  &__no-photo-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-style: italic;
  }
  @media screen and (max-width: 880px) {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 550px) {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
