@import '../../commonStyles/commonStyles.scss';
.big-picture {
  padding: 0;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.big-picture__photo-container {
  // padding: 0 200px;
  width: 100%;
  padding: 0 0 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: relative;
  flex-grow: 1;
  max-height: 100%;
  // overflow: hidden;
}
.big-picture__photo {
  // @include clickable;
  margin: auto;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  cursor: url('../../img/Reduce.svg'), pointer;
}
.big-picture__button {
  @include clickable;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 30%;
  &_left {
    left: 0;
    cursor: url('../../img/nav_left.svg'), pointer;
  }
  &_right {
    right: 0;
    cursor: url('../../img/nav_right.svg'), pointer;
  }
}
.big-picture__button-icon {
  width: 40px;
  height: 40px;
}
.big-picture__buttons-container {
  padding: 10px;
  z-index: 2;
  position: absolute;
  top: 40px;
  right: 30px;
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}
.big-picture__edit-block-button {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.big-picture__edit-block-icon {
  width: 30px;
  height: 30px;
}

.big-picture__edit-container {
  z-index: 2;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 30px;
  top: 110px;
  background-color: rgb(237, 231, 231);
  border-radius: 5px;
  gap: 5px;
  width: 200px;
}
.big-picture__edit-heading {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.big-picture__add-tag-container {
  width: 100%;
  position: relative;
}
.big-picture__add-tag-input {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}
.big-picture__add-tag-btn {
  @include clickable;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
