@import '../../commonStyles/commonStyles.scss';
.big-picture {
  padding: 30px 0;
  width: 100%;
  max-height: 90vh;
  display: grid;
  grid-template-columns: 1fr fit-content(80%) 1fr;
  grid-template-rows: minmax(200px, 1fr);
  justify-content: center;
  align-content: center;
  // overflow: hidden;
}
.big-picture__photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.big-picture__photo {
  // @include clickable;
  // width: 100%;
  max-height: 100%;
  flex: 1 1;
  cursor: url('../../img/Reduce.svg'), pointer;
}
.big-picture__button {
  @include clickable;
  &_left {
    cursor: url('../../img/nav_left.svg'), pointer;
  }
  &_right {
    cursor: url('../../img/nav_right.svg'), pointer;
  }
}
.big-picture__button-icon {
  width: 40px;
  height: 40px;
}
.big-picture__buttons-container {
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}
.big-picture__edit-block-button {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.big-picture__edit-block-icon {
  width: 30px;
  height: 30px;
}

.big-picture__edit-container {
  padding: 10px;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  top: 30px;
  background-color: rgb(237, 231, 231);
  border-radius: 5px;
  gap: 5px;
  width: 200px;
}
.big-picture__edit-heading {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.big-picture__add-tag-container {
  width: 100%;
  position: relative;
}
.big-picture__add-tag-input {
  width: 100%;
  font-size: 14px;
  padding: 4px;
}
.big-picture__add-tag-btn {
  @include clickable;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.big-picture__add-tag-btn-icon {
}
