@import '../../commonStyles/commonStyles.scss';

.tag-item {
  padding: 5px 10%;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
}
.tag-item_type_odd {
  background-color: #fff;
}
.tag-item__input {
  margin: 0;
  padding: 0;
  width: 70%;
  font-weight: bold;
}
.tag-item__text {
  @include clickable;
  font-size: 16px;
  // @media (max-width: 500px) {
  //   font-size: 12px;
  // }
}
.tag-item__remove-button {
  border: none;
  background-color: transparent;
  size: 20px;
}
.tag-item__remove-button-icon {
  width: 20px;
  height: 20px;
}
.tag-item__detach-button-icon {
  width: 20px;
  height: 20px;
  color: yellow;
}
.tag-item__btn-block {
  display: flex;
  gap: 5px;
}
